{% macro render_pagination(endpoint, page, total_pages, params={}) %}
<section>
    <ul class="pagination">
        <li><a href="{{ url_for(endpoint, page=1, **params) }}"><i class="fa-solid fa-angles-left"></i></a></li>
        {% if page > 1 %}
        <li><a href="{{ url_for(endpoint, page=page - 1, **params) }}"><i class="fa-solid fa-angle-left"></i></a></li>
        {% endif %}
        {% set start_page = (page - 1) // 5 * 5 + 1 %}
        {% set end_page = start_page + 4 %}
        {% if end_page > total_pages %}
            {% set end_page = total_pages %}
        {% endif %}

        {% for p in range(start_page, end_page + 1) %}
        <li class="{% if p == page %}active{% endif %}"><a href="{{ url_for(endpoint, page=p, **params) }}">{{ p }}</a></li>
        {% endfor %}
        
        {% if page < total_pages %}
        <li><a href="{{ url_for(endpoint, page=page + 1, **params) }}"><i class="fa-solid fa-angle-right"></i></a></li>
        {% endif %}
        <li><a href="{{ url_for(endpoint, page=total_pages, **params) }}"><i class="fa-solid fa-angles-right"></i></a></li>
    </ul>
</section>
{% endmacro %}