{% macro user_item(item) %}
<li class="data_list">
    <a href="{{ url_for('user.user_detail', user_id=item['Id']) }}">
        <div class="date_cell">
            <span>{{ item['Name'] }}</span>
            <span>{{ item['Gender'] }}</span>
            <span>{{ item['Age'] }}</span>
            <span>{{ item['Birthdate'] }}</span>
        </div>
    </a>
</li>
{% endmacro %}

{% macro user_order_item(item) %}
<li class="order_list_item">
    <div class="order_details">
        <span class="badge">Order ID: {{ order.order_id }}</span>
        <span>Order Date: {{ order.order_date }}</span>
        <span>Store Name: {{ order.store_name }}</span>
        <span>Item Name: {{ order.item_name }}</span>
    </div>
</li>
{% macro order_item_template(item) %}
    <li>
        <span>{{ item[0] }}</span>
        <span>{{ item[1] }}</span>
        <span>{{ item[2] }}</span>
        <span>{{ item[3] }}</span>
    </li>
    {% endmacro %}
    {{ list.render_list(["Order ID", "Order Date", "Store ID", "User ID"], orders, order_item_template) }}

{% endmacro %}