{% extends "base.html" %}
{% from 'search_form.html' import search_form %}
{% from "list.html" import render_list %}
{% from "user/user_item.html" import user_item %}
{% from "paginate.html" import render_pagination %}
{% block title %}USER PAGE{% endblock %}


{% block content %}
<h2>사용자</h2>
<section class="search">
    {{ search_form(action=url_for('user.get_user'), fields=fields) }}
</section>

{% if no_results %}
<section>
    <p>검색 결과가 없습니다.</p>
</section>
{% endif %}

{% set headers = ["이름", "성별", "나이", "생년월일"] %}
{{ render_list(headers, result, user_item) }}

{% set params = {'name': request.args.get('name'), 'gender': request.args.get('gender'), 'age': request.args.get('age')} %}
{{ render_pagination('user.get_user', page, total_pages, params) }}

{% endblock %}
