{% extends "./base.html" %}
{% block title %}STORE PAGE{% endblock %}

{% block content %}
<section class="content">
    <ul class="list_header">
        <li>
            <span>타입</span>
            <span>상품명</span>
            <span>판매가</span>
            <ul class="list_item">
                {% for item in result %}
                <li>
                    <span>{{ item['Type'] }} </span>
                    <span>{{ item['Name'] }}</span>
                    <span>{{ item['UnitPrice'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</section>
<section>
    <ul class="pagination">
        <li><a href="{{ url_for('item.get_item', page=1) }}"><i class="fa-solid fa-angles-left"></i></a></li>
        <li><a href="{{ url_for('item.get_item', page=page - 1) }}"><i class="fa-solid fa-angle-left"></i></a></li>

        {% set start_page = (page - 1) // 5 * 5 + 1 %}
        {% set end_page = start_page + 4 %}
        {% if end_page > total_pages %}
            {% set end_page = total_pages %}
        {% endif %}

        {% for p in range(start_page, end_page + 1) %}
        <li class="{% if p == page %}active{% endif %}"><a href="{{ url_for('item.get_item', page=p) }}">{{ p }}</a></li>
        {% endfor %}
        
        <li><a href="{{ url_for('item.get_item', page=page+1) }}"><i class="fa-solid fa-angle-right"></i></a></li>
        <li><a href="{{ url_for('item.get_item', page=total_pages) }}"><i class="fa-solid fa-angles-right"></i></a></li>
    </ul>
</section>
{% endblock %}